:root {
  --var-primary-color: coral;
  --var-secondary-color: chocolate;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background: #f4f4f4;
  font-family: Arial, Helvetica, sans-serif;

}

#navbar ul {
  list-style: none;

}

#navbar ul li {
  display: inline-block;
  position: relative;
  color: #333;
  padding: 1rem;
  font-size: 1rem;
}

#navbar ul li a {
  text-decoration: none;
  color: #333;
}

#navbar ul li ul {
  display: none;
}

#navbar ul li:hover {
  background: var(--var-primary-color);
  cursor: pointer;
  color: #fff;
}
#navbar ul li:hover a {
  color: #fff;
}

#navbar ul li:hover ul {
  display: block;
  position: absolute;
  left: 0;
  width: 200px;
  margin-top: 1rem;
}

#navbar ul li:hover ul li {
  display: block;
  background: #e7e7e7;
  /* padding: 1rem;
  height: 1rem;
  width: 200px; */
}

#navbar ul li:hover ul li a {
  color: #333;
}

#navbar ul li ul li {
  padding: 1rem;
}

#navbar ul li:hover ul li:hover {
  background: #e0e0e0;
  color: inherit;
}

#navbar ul li ul li span {
  background: var(--var-primary-color);
  border-radius: 5px;
  color: #fff;
  padding: .2rem 0.5rem;
  font-size: 0.8rem;
  text-align: center;
  float: right;
}

#navbar ul li ul li:hover span {
  background: var(--var-secondary-color);
}

#showcase {
  background: var(--var-primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  color: #fff;
}

#showcase h1 {
  font-size: 4rem;
}

@media(max-width: 600px) {
  #navbar ul li {
    display: block;
  }

  #navbar ul li:hover ul {
    position: relative;
    width: 100%;
  }
}